<div class="steps-wrapper">
    <div class="step-wrapper">
        <div class="step">
            <div class="title_wrap">
                <h1>Film Dev Timer</h1>
            </div>
            <div class="button_wrap" id="index_button_wrap">
                <a id="color" href="/color/step/1"></a>
                <a id="bw" href="/bw/step/1"></a>
            </div>
        </div>
    </div>
</div>