<div class="steps-wrapper">
    <div class="step-wrapper">
        <img src="/images/background/img043.jpg" alt=""/>
        <div class="step">
            <h1>Film Dev Timer</h1>
            <!--<h6 id="version">ver.1.3</h6>-->
            <div class="buttons_wrap">
                <a href="/color/step/1">Color</a>
                <a href="/bw/step/1">B&W</a>
            </div>
        </div>
    </div>
</div>