<div class="steps-wrapper">
    <div class="step-wrapper">
        <div class="step">
            <div class="title_wrap">
                <h1>Film Dev Timer</h1>
            </div>
            <div class="button_wrap">
                <a href="/color/step/1">Color</a>
                <a href="/bw/step/1">B&W</a>
            </div>
        </div>
    </div>
</div>