<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no"/>
    <title>Film Dev Timer</title>
    <link rel="icon" type="image/png" href="/images/clock.png">
    <script src='/lib/jquery-2.2.3.min.js'></script>
    <link rel="stylesheet" href="/lib/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <script src="/lib/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/lib/bootstrap-3.3.7/js/moment.min.js"></script>
    <script src="/lib/NoSleep.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/style2.css'/>
    <script src="/javascripts/index.js?version=1"></script>
    <script src="/javascripts/color.js?version=1"></script>
    <script src="/javascripts/bw.js?version=1"></script>

</head>
<body>
<div class="side-nav">
    <button></button>
    <a href="/">Home</a>
    <a href="/color/step/1">Color</a>
    <a href="/bw/step/1">Black & White</a>
</div>
<header>
    <button></button>
    Film Dev Timer
</header>
{{{body}}}
<audio id="beep_sound">
    <source src="/sounds/beep.mp3" type="audio/mpeg">
</audio>
<audio id="agitate_sound">
    <source src="/sounds/agitate.mp3" type="audio/mpeg">
</audio>
<audio id="invert_sound">
    <source src="/sounds/invert.mp3" type="audio/mpeg">
</audio>
<audio id="wait_sound">
    <source src="/sounds/wait.mp3" type="audio/mpeg">
</audio>
<audio id="pour_sound">
    <source src="/sounds/pour.mp3" type="audio/mpeg">
</audio>
<button id="beep_btn" style="display:none;"></button>
<button id="agitate_btn" style="display:none;"></button>
<button id="invert_btn" style="display:none;"></button>
<button id="wait_btn" style="display:none;"></button>
<button id="pour_btn" style="display:none;"></button>
</body>
</html>