<div class="results">
    <div class="form" action="">
        <input type="file"/>
        <input type="text" placeholder="title"/>
        <input type="text" placeholder="name"/>
        <input type="text" placeholder="website"/>
    </div>
</div>