<div class="steps-wrapper">
    <div class="step-wrapper">
        <div class="step" timetype="soak" duration="120">
            <div class="title_wrap">
                <h1>Step 6: Rinse & PhotoFlo (Room temp)</h1>
            </div>
            <div class="timer_wrap">
                <span class="timer">00:00</span>
                <h3 class="instruct">Ready</h3>
            </div>
            <div class="buttons_wrap">
                <a class="back" href="/color/step/5"></a>
                <a class="start"></a>
                <a class="next" href="/"></a>
            </div>
        </div>
    </div>
</div>
