<div class="steps-wrapper">
    <div class="step-wrapper">
        <div class="step" timetype="soak" duration="60">
            <div class="title_wrap">
                <h1>Step 1: Presoak (102F)</h1>
            </div>
            <div class="timer_wrap">
                <span class="timer">00:00</span>
                <h3 class="instruct">Ready</h3>
            </div>
            <div class="buttons_wrap">
                <a class="back" href="/"></a>
                <a class="start"></a>
                <a class="next" href="/color/step/2"></a>
                <!--<a href="/color/all">All Steps</a>-->
            </div>
        </div>

    </div>
</div>
