<div class="steps-wrapper">
    <div class="step-wrapper">
        <img src="/images/background/img214.jpg" alt=""/>

        <div class="step">
            <h1>Step 6: Rinse</h1>
            <h2>Quick rise with tap water (Room temp)</h2>
            <a href="/color/5">Back</a>
            <a href="/">Done</a>
        </div>
    </div>
</div>
