<div class="steps-wrapper">
    <div class="step-wrapper">
        <img src="/images/background/color/img061.jpg" alt=""/>

        <div class="step" timetype="dev" duration="210">
            <h1>Step 2: Develop</h1>
            <h2>Pour Developer (102F)</h2>
            <div id="push-wrapper">
                <select name="stops" id="stops" class="form-control">
                    <option value="1">Regular</option>
                    <option value="1.25">Push 1 Stop</option>
                    <option value="1.5">Push 2 Stops</option>
                </select>
            </div>
            <h3 class="instruct">Ready</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:0"></div>
            </div>
            <span class="timer">00:00/00:00</span>
            <a href="/color/step/1">Back</a>
            <button class="start">Start</button>
            <a href="/color/step/3">Next</a>
        </div>
    </div>
</div>
