<div class="steps-wrapper">
    <div class="step-wrapper">
        <img src="/images/background/color/img204.jpg" alt=""/>

        <div class="step" timetype="agitate" duration="90">
            <h1>Step 5: Stabilizer</h1>
            <h2>Pour Stabilizer (Room temp)</h2>

            <h3 class="instruct">Ready</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:0"></div>
            </div>
            <span class="timer">00:00/00:00</span>
            <a href="/color/step/4">Back</a>
            <button class="start ">Start</button>
            <a href="/color/step/6">Next</a>
        </div>
    </div>
</div>
