<div class="steps-wrapper">
    <div class="step-wrapper">
        <img src="/images/background/img058.jpg" alt=""/>
        <div class="step" timetype="soak" duration="60">
            <h1>Step 1: Presoak</h1>
            <h2>Pour tap water (102F)</h2>

            <h3 class="instruct">Ready</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:0"></div>
            </div>
            <span class="timer">00:00/00:00</span>
            <a href="/">Back</a>
            <button class="start ">Start</button>
            <a href="/color/2">Next</a>
        </div>
    </div>
</div>
