<div class="steps-wrapper">
    <div class="step-wrapper">
        <div class="step" timetype="agitate" duration="90">
            <div class="title_wrap">
                <h1>Step 5: Stabilizer</h1>
            </div>
            <div class="timer_wrap">
                <span class="timer">00:00</span>
                <h3 class="instruct">Ready</h3>
            </div>
            <div class="buttons_wrap">
                <a class="back" href="/color/step/4"></a>
                <a class="start"></a>
                <a class="next" href="/color/step/6"></a>
            </div>
        </div>
    </div>
</div>
