<div class="steps-wrapper">
    <div class="step-wrapper">
        <img src="/images/background/color/img214.jpg" alt=""/>

        <div class="step">
            <h1>Step 6: Rinse</h1>
            <h2>Quick rise with tap water (Room temp)</h2>
            <div class="buttons_wrap">
                <a href="/color/step/5">Back</a>
                <a href="/">Done</a>
            </div>
        </div>
    </div>
</div>
