<div class="steps-wrapper">
    <div class="step-wrapper">
        <div class="table-wrapper">
            <h1>C-41 Unicolor</h1>
            <table>
                <tbody>
                <tr duration="60">
                    <td>Prewash</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar">Ready</div>
                        </div>
                        <span class="timer">00:00/00:00</span>
                    </td>
                    <td><button class="startAll">Start</button></td>
                </tr>
                <tr duration="210">
                    <td>Developer</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar">Ready</div>
                        </div>
                        <span class="timer">00:00/00:00</span>
                    </td>
                    <td><button class="startAll">Start</button></td>
                </tr>
                <tr duration="390">
                    <td>Blix</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar">Ready</div>
                        </div>
                        <span class="timer">00:00/00:00</span>
                    </td>
                    <td><button class="startAll">Start</button></td>
                </tr>
                <tr duration="180">
                    <td>Wash</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar">Ready</div>
                        </div>
                        <span class="timer">00:00/00:00</span>
                    </td>
                    <td><button class="startAll">Start</button></td>
                </tr>
                <tr duration="90">
                    <td>Stab</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar">Ready</div>
                        </div>
                        <span class="timer">00:00/00:00</span>
                    </td>
                    <td><button class="startAll">Start</button></td>
                </tr>
                <tr duration="120">
                    <td>Photo Flo</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar">Ready</div>
                        </div>
                        <span class="timer">00:00/00:00</span>
                    </td>
                    <td><button class="startAll">Start</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>