<div class="steps-wrapper">
    <div class="step-wrapper">
        <div class="step" timetype="dev" duration="420">
            <div class="title_wrap">
                <h1>Step 5: Fix</h1>
            </div>
            <div class="timer_wrap">
                <span class="timer">00:00</span>
                <h3 class="instruct"></h3>
            </div>
            <div class="buttons_wrap">
                <a class="back" href="/bw/step/4"></a>
                <a class="start"></a>
                <a class="next" href="/bw/step/6"></a>
            </div>
        </div>
    </div>
</div>