<div class="steps-wrapper">
    <div class="step-wrapper">
        <img src="/images/background/bw/2.jpg" alt=""/>
        <div class="step" timetype="soak" duration="120">
            <h1>Step 2: Presoak</h1>
            <h3 class="instruct"></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:0"></div>
            </div>
            <span class="timer">00:00/00:00</span>
            <a href="/bw/step/1">Back</a>
            <a class="start">Start</a>
            <a href="/bw/step/3">Next</a>
        </div>
    </div>
</div>