<div class="steps-wrapper">
    <div class="step-wrapper">
        <img src="/images/background/bw/1.jpg" alt=""/>
        <div class="step" timetype="soak" duration="60">
            <h1>Step 1: Dilute Developer</h1>
            <form id="dilute">
                <input type="text" name="amount" placeholder="Amount needed (mL)" class="form-control"/>
                <select name="dilution" class="form-control">
                    <option value="9">1+9</option>
                    <option value="14">1+14</option>
                </select>
            </form>
            <h2 id="dilution_results"></h2>
            <div class="buttons_wrap">
                <a href="/">Back</a>
                <a href="/bw/step/2">Next</a>
            </div>
            <a href="/bw/all">All Steps</a>
        </div>
    </div>
</div>