<div class="steps-wrapper">
    <div class="step-wrapper">
        <div class="step" timetype="dev" duration="60">
            <div class="title_wrap">
                <h1>Step 3: Develop</h1>
            </div>
            <div class="timer_wrap">
                <form id="calc_dev_times">
                    <select name="temp" id="temp_options" class="form-control">
                        <option value="68F">20C/68F</option>
                        <option value="75F">24C/75F</option>
                    </select>
                    <select name="film_type" id="film_type_options" class="form-control">
                        <!--<option value="0">Ilford Delta 100</option>-->
                        <!--<option value="0">Ilford Delta 400</option>-->
                        <!--<option value="0">Ilford Delta 3200</option>-->
                        <!--<option value="">Ilford PanF Plus</option>-->
                        <!--<option value="">Ilford FP4 Plus</option>-->
                        <option value="">Ilford HP5 Plus</option>
                        <!--<option value="">Kodak 100 Tmax</option>-->
                        <option value="">Kodak 400 Tmax</option>
                    </select>
                    <select name="iso" id="iso_options" class="form-control">
                        <!--<option value="">100</option>-->
                        <option value="">200</option>
                        <option value="">400</option>
                        <option value="">800</option>
                    </select>
                    <select name="dilution" id="dilution_options" class="form-control">
                        <option value="">1+9</option>
                        <option value="">1+14</option>
                    </select>
                    <select name="push" id="stops_push" class="form-control">
                        <option value="1">None</option>
                        <option value="1.5">Push 1 stop</option>
                        <option value="2.25">Push 2 stops</option>
                        <option value="4.5">Push 3 stops</option>
                    </select>
                </form>
                <input type="text" placeholder="Custom time (mins)" id="custom_time"/>
                <h2 id="results"></h2>
                <span class="timer">00:00</span>
                <h3 class="instruct"></h3>
            </div>
            <div class="buttons_wrap">
                <a class="back" href="/bw/step/2"></a>
                <a class="start"></a>
                <a class="next" href="/bw/step/4"></a>
            </div>
        </div>
    </div>
</div>