<div class="steps-wrapper">
    <div class="step-wrapper">
        <div class="step" timetype="soak" duration="60">
            <div class="title_wrap">
                <h1>Step 1: Dilute Developer</h1>
            </div>
            <div class="timer_wrap">
                <form id="dilute">
                    <input type="text" name="amount" placeholder="Amount needed (mL)" class="form-control"/>
                    <select name="dilution" class="form-control">
                        <option value="9">1+9</option>
                        <option value="14">1+14</option>
                    </select>
                </form>
                <h2 id="dilution_results"></h2>
            </div>
            <div class="buttons_wrap">
                <a class="back" href="/"></a>
                <a class="next" href="/bw/step/2"></a>
            </div>
            <!--<a href="/bw/all">All Steps</a>-->
        </div>
    </div>
</div>