<div class="steps-wrapper">
    <div class="step-wrapper">
        <div class="step" timetype="soak" duration="120">
            <div class="title_wrap">
                <h1>Step 2: Presoak</h1>
            </div>
            <div class="timer_wrap">
                <span class="timer">00:00</span>
                <h3 class="instruct"></h3>
            </div>
            <div class="buttons_wrap">
                <a class="back" href="/bw/step/1"></a>
                <a class="start"></a>
                <a class="next" href="/bw/step/3"></a>
            </div>
        </div>
    </div>
</div>