<div class="steps-wrapper">
    <div class="step-wrapper">
        <img src="/images/background/color/0.jpg" alt=""/>
        <div class="table-wrapper">
            <h1>C-41 Unicolor</h1>
            <table>
                <tbody>
                <tr duration="60" type="soak">
                    <td><span>Prewash</span></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active instruct" role="progressbar">Ready</div>
                        </div>
                        <span class="timer">00:00/00:00</span>
                    </td>
                    <td><button class="startAll">Start</button></td>
                </tr>
                <tr duration="210" type="dev">
                    <td><span>Developer</span></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active instruct" role="progressbar">Ready</div>
                        </div>
                        <span class="timer">00:00/00:00</span>
                    </td>
                    <td><button class="startAll">Start</button></td>
                </tr>
                <tr duration="390" type="dev">
                    <td><span>Blix</span></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active instruct" role="progressbar">Ready</div>
                        </div>
                        <span class="timer">00:00/00:00</span>
                    </td>
                    <td><button class="startAll">Start</button></td>
                </tr>
                <tr duration="180" type="agitate">
                    <td><span>Wash</span></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active instruct" role="progressbar">Ready</div>
                        </div>
                        <span class="timer">00:00/00:00</span>
                    </td>
                    <td><button class="startAll">Start</button></td>
                </tr>
                <tr duration="90" type="agitate">
                    <td><span>Stab</span></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active instruct" role="progressbar">Ready</div>
                        </div>
                        <span class="timer">00:00/00:00</span>
                    </td>
                    <td><button class="startAll">Start</button></td>
                </tr>
                <tr duration="120" type="soak">
                    <td><span>Photo Flo</span></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active instruct" role="progressbar">Ready</div>
                        </div>
                        <span class="timer">00:00/00:00</span>
                    </td>
                    <td><button class="startAll">Start</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>